textarea {
	height: 20em;
	font-family: monospace;
}

#speakers-editor, #transcribe-editor {
	width: 100%;
}

#review-editor1, #review-editor2 {
	width: 45%;
}

dl.transcript dt {
	font-weight: bold;
	margin-top: 1em;
}

dl.transcript dd {
	margin-top: .25em;
}
