# Collected static files:
assets/

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# OS files:
.DS_Store

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Vagrant:
.vagrant

# Media:
.mediafile-cache/
media/

# Ipython notebook:
.ipynb_checkpoints/
Untitled*.ipynb

# Supervisor:
supervisord.pid

# Bower:
bower_components/

# Node:
node_modules/
