# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# OS files:
.DS_Store

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Vagrant:
.vagrant
Vagrantfile

# Media cache:
.mediafile-cache/
.mediafile-storage/

# Ipython notebook:
.ipynb_checkpoints/
Untitled*.ipynb

# Supervisor:
supervisord.log
supervisord.pid
