[app:main]
use = config:development.ini
fanscribed.audio = %(here)s/../audio
fanscribed.cache = %(here)s/../cache
fanscribed.repos = %(here)s/../repos
fanscribed.repo_templates = %(here)s/../repo_templates
fanscribed.snippet_cache = %(here)s/fanscribed/static/snippets/
fanscribed.snippet_url_prefix = /static/snippets/
fanscribed.snippet_seconds = 30
fanscribed.snippet_padding_seconds = 2.5
fanscribed.email_bans = %(here)s/../email_bans.txt
fanscribed.ip_address_bans = %(here)s/../ip_address_bans.txt

[server:main]
use = config:development.ini
## If you are using Google Chrome as your development browser,
## uncomment the line below to listen on 0.0.0.0, then browse to your
## computer's IP address or Zeroconf name (e.g. mycomputer.local).
## This is necessary due to Chrome's avoidance of saving cookies
## for localhost domains.
# host = 0.0.0.0
