[app:main]
use = config:production.ini
fanscribed.audio = %(here)s/../audio
fanscribed.repos = %(here)s/../repos
fanscribed.repo_templates = %(here)s/../repo_templates
fanscribed.snippet_cache = %(here)s/fanscribed/static/snippets/
fanscribed.snippet_url_prefix = /static/snippets/
fanscribed.snippet_seconds = 30
fanscribed.snippet_padding_seconds = 2.5

[server:main]
use = config:production.ini
port = 12345
