# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|

    # Using Ubuntu 12.04 LTS
    config.vm.box = "precise64"

    # If using VMware, choose this URL:
    # config.vm.box_url = "http://files.vagrantup.com/precise64_vmware.box"

    # If using Virtualbox, choose this URL:
    # config.vm.box_url = "http://files.vagrantup.com/precise64.box"

    config.vm.hostname = "fanscribed-dev"

    config.vm.synced_folder "salt/roots", "/srv"
    config.vm.synced_folder "..", "/vagrant"

    config.vm.provision 'shell', path: 'vagrant/set-apt-mirrors.sh'
    config.vm.provision 'shell', path: 'vagrant/install-upgrades.sh'

    config.vm.provision :salt do |salt|
        salt.verbose = true
        salt.minion_config = "salt/minion"
        salt.run_highstate = true
    end

end
