{% extends "base.html" %}


{% block title %}
  "{{ episode.title }}"
  (from {{ episode.podcast.title }})
{% endblock %}


{% block nav_class_read %}
  active
{% endblock %}


{% block content %}

  <h1><a href="{% url 'podcasts:detail' pk=episode.podcast.id %}">{{ episode.podcast.title }}</a>
    <br><small>{{ episode.title }}</small></h1>

  {% url 'podcasts:episode_create_transcript' podcast_pk=episode.podcast.id pk=episode.pk as create_transcript_url %}
  <form action="{{ create_transcript_url }}" method="post">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit" name="type" value="any_sequential">
      Create Transcript
    </button>
  </form>

  <h3>About This Episode</h3>

  {% include "podcasts/_episode_description.html" %}

{% endblock %}
