{% extends "base.html" %}


{% block nav_class_read %}
  active
{% endblock %}


{% block content %}

  <h1><a href="{% url 'podcasts:detail' pk=podcast.id %}">{{ podcast.title }}</a></h1>

  <h2>Episodes</h2>

  <p>{{ podcast.description }}</p>

  <table class="table">

    <thead>
      <tr>
        <th style="width:1px">&nbsp;</th>    {# Keep the width as narrow as possible for this column #}
        <th>Title</th>
        <th>Published</th>
      </tr>
    </thead>

    <tbody>
      {% for episode in podcast.episodes.all %}
        <tr>
          {% url 'podcasts:episode_detail' podcast_pk=podcast.pk pk=episode.pk as episode_url %}
          <td>
            {% if episode.transcript %}
              <a class="btn btn-xs btn-primary" href="{% url 'transcripts:detail' pk=episode.transcript.id %}">Help Transcribe</a>
            {% else %}
              <a class="btn btn-xs btn-default" href="{{ episode_url }}">Episode Details</a>
            {% endif %}
          </td>
          <td><a href="{{ episode_url }}">{{ episode.title }}</a></td>
          <td>{{ episode.published }}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

{% endblock %}
