{% extends "base.html" %}


{% block title %}
  {{ podcast.title }}
{% endblock %}


{% block nav_class_read %}
  active
{% endblock %}


{% block content %}

  <h1>{{ podcast.title }}</h1>

  <div class="row">
    <div class="col-md-8">

      {# -- content -- #}

      {% if podcast.description %}
        <h2>About This Podcast</h2>
        <p>{{ podcast.description }}</p>
      {% endif %}

      <h2>Episodes</h2>

      <table class="table">

        <thead>
          <tr>
            <th style="width:1px">&nbsp;</th>    {# Keep the width as narrow as possible for this column #}
            <th>Title</th>
            <th style="min-width:10em">Published</th>
          </tr>
        </thead>

        <tbody>
          {% for episode in podcast.episodes.all %}
            <tr>
              {% url 'podcasts:episode_detail_slug' podcast_pk=podcast.pk pk=episode.pk slug=episode.title|slugify as episode_url %}
              <td>
                {% if episode.external_transcript %}
                  <a class="btn btn-xs btn-success" href="{{ episode_url }}">Read Transcript</a>
                {% elif episode.transcript.state == 'finished' %}
                  <a class="btn btn-xs btn-success" href="{% url 'transcripts:detail_slug' pk=episode.transcript.id slug=episode.transcript.title|slugify %}">Read Transcript</a>
                {% elif episode.external_transcript or episode.transcript.state == 'unfinished' %}
                  <a class="btn btn-xs btn-primary" href="{% url 'transcripts:detail_slug' pk=episode.transcript.id slug=episode.transcript.title|slugify %}">Help Transcribe</a>
                {% else %}
                  <a class="btn btn-xs btn-default" href="{{ episode_url }}">Episode Details</a>
                {% endif %}
              </td>
              <td><a href="{{ episode_url }}">{{ episode.title }}</a></td>
              <td>{{ episode.published|date }}</td>
            </tr>
          {% endfor %}
        </tbody>

      </table>

    </div>

    <div class="col-md-4">

      {# -- sidebar -- #}

      <h3>Licensing</h3>
      {% include "podcasts/_podcast_license_approvals.html" %}

    </div>

  </div>

{% endblock %}
