<table class="table">
  <thead>
    <tr>
      <th>Timecode</th>
      <th>Speaker</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    {{#each sentence in transcript.sentences}}
      <tr>
        <td>{{sentence.latest_start}}</td>
        <td>{{sentence.latest_speaker.name}}</td>
        <td>{{sentence.latest_text}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{yield}}
