{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}{% block head_title %}{% endblock %} | Fanscribed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'vendor/bootstrap-3.1.1/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/fanscribed.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to fanscribed.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    {# Navbar #}

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Fanscribed</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% block nav_class_read %}{% endblock %}"><a href="{% url 'podcasts:index' %}">Read Podcasts</a></li>
            <li class="{% block nav_class_transcribe %}{% endblock %}"><a href="{% url 'transcripts:index' %}">Transcribe</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="{% block nav_class_help %}{% endblock %}">
              <a href="{% url 'help' %}">Get Help</a>
            </li>
            {% if user.is_authenticated %}

              {# This must be in base.html due to containing a block. #}
              <li class="dropdown {% block nav_class_user %}{% endblock %}">
                <a class="dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" href="#">{{ user.email }}<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="userDropdown">
                  {% if user.is_superuser %}
                    {% include "_nav_staff_menu_items.html" %}
                    <li class="divider"></li>
                  {% endif %}
                  <li><a href="{% url 'profiles:edit' %}">Your Profile</a></li>
                  <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                </ul>
              </li>

            {% else %}
              {% if ACCOUNT_ALLOW_SIGNUPS %}
                <li class="{% block nav_class_sign_up %}{% endblock %}">
                  <a href="{% url 'account_signup' %}">Sign Up</a>
                </li>
              {% endif %}
              <li class="{% block nav_class_sign_in %}{% endblock %}">
                <a href="{% url 'account_login' %}">Sign In</a>
              </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    {# Container #}

    <div class="container">

      {% bootstrap_messages %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->


    {# Footer #}

    <footer class="navbar navbar-default">
      <div class="container">
        <p class="navbar-text navbar-right">
          Fanscribed: Copyright &copy; 2012-2014 Elevencraft Inc.
          <br>
          Transcript content: Subject to license and copyright of source material.
        </p>
      </div>
    </footer>


    {# JavaScript #}

    <script type="text/javascript" src="{% static 'vendor/jquery-1.11.0/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-3.1.1/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/fanscribed.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}


    {# Tracking #}

    {% if PIWIK_HOST %}
      <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["trackPageView"]);
        _paq.push(["enableLinkTracking"]);

        (function() {
          var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ PIWIK_HOST }}/";
          _paq.push(["setTrackerUrl", u+"piwik.php"]);
          _paq.push(["setSiteId", "{{ PIWIK_SITE_ID }}"]);
          var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
          g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
        })();
      </script>
    {% endif %}

  </body>
</html>
