{% extends "base.html" %}


{% block title %}
  Help
{% endblock %}


{% block nav_class_help %}
  active
{% endblock %}


{% block content %}

  <h1>How To Get Help</h1>

  <h2>Community Resources</h2>

  <p>While Fanscribed is in beta test, please use these community resources
  to get help.</p>

  <ul>
  <li><a href="http://fanscribed.reddit.com/">Fanscribed Reddit</a></li>
  </ul>

  <h2>Email</h2>

  <p>You can also send a private email if you prefer:</p>

  <a class="btn btn-default" href="mailto:admin@fanscribed.com">Email admin@fanscribed.com</a>

{% endblock %}
