{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Welcome
{% endblock %}

{% block meta_description %}We help podcasts reach a wider audience using high-quality speech-to-text transcripts.{% endblock %}

{% block nav_class_home %}
  active
{% endblock %}

{% block extra_head %}
  <meta name="google-site-verification" content="pQk11aV27tkgjPXVMiyy_O0CeloVGHWt1Vt522O-06s" />
  <meta name="msvalidate.01" content="9CF4F75B99038FA92C93047BA3C5AEB3" />
{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-xs-12">
      <div class="jumbotron text-center">
        <h1>
          Fanscribed
          <br/>
          <small>Podcast Transcripts</small>
        </h1>
        <p>
          <img src="{% static 'img/protologo-806x285.png' %}" class="img-responsive hidden-md hidden-lg" alt="Fanscribed Diagram: Audio, broadcast to a cloud of people, resulting in a transcript">
          <img src="{% static 'img/protologo-806x285.png' %}" class="hidden-xs hidden-sm" alt="Fanscribed Diagram: Audio, broadcast to a cloud of people, resulting in a transcript" width="806" height="285">
        </p>
        <p>
          We help podcasts reach a wider audience
          using high-quality speech-to-text transcripts.
        </p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <p class="text-center">
        <a class="btn btn-primary btn-lg" href="{% url 'podcasts:index' %}">Read Podcasts</a>
      </p>
      <p style="font-size:20px;font-weight:300">
        Browse our directory of podcasts that have full transcripts.
        It's growing every&nbsp;day!
      </p>
      <ul>
        <li>Share favorite podcast moments with friends.</li>
        <li>Search through past episodes.</li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-4">
      <p class="text-center">
        <a class="btn btn-info btn-lg" href="{% url 'transcripts:index' %}">Help Transcribe</a>
      </p>
      <p style="font-size:20px;font-weight:300">
        Your favorite podcast will benefit from transcripts.
        Find out how easy it is to help!
      </p>
      <ul>
        <li>Get early access to transcripts.</li>
        <li>Takes only two minutes.</li>
      </ul>
      <ul>

      </ul>
    </div>

    <div class="col-xs-12 col-sm-4">
      <p class="text-center">
        <a class="btn btn-info btn-lg" href="{% url 'help' %}#register-your-podcast">Register a Podcast</a>
      </p>
      <p style="font-size:20px;font-weight:300">
        If you're a podcaster and would like transcripts of your shows,
        we'd love to add you to our directory.
      </p>
      <ul>
        <li>Reach a wider audience.</li>
        <li>Free to use, with no obligations.</li>
      </ul>
    </div>

  </div>

{% endblock %}
