{% extends "base.html" %}

{% block title %}
  Welcome
{% endblock %}

{% block nav_class_home %}
  active
{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-xs-12">
      <div class="jumbotron text-center">
        <h1>Accessible podcasts.</h1>
        <p>
          We help podcasts reach a wider audience
          using high-quality transcripts.
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 text-center">
      <p>
        <a class="btn btn-primary btn-lg" href="{% url 'podcasts:index' %}">Read Podcasts</a>
      </p>
    </div>

    <div class="col-xs-12 col-sm-4 text-center">
      <p>
        <a class="btn btn-primary btn-lg" href="{% url 'transcripts:index' %}">Help Transcribe</a>
      </p>
    </div>

    <div class="col-xs-12 col-sm-4 text-center">
      <p>
        <a class="btn btn-default btn-lg" href="{% url 'help' %}#register-your-podcast">Register a Podcast</a>
      </p>
    </div>

  </div>

{% endblock %}
