{% extends "base.html" %}


{% block title %}
  Podcasts
{% endblock %}


{% block meta_description %}Comprehensive list of podcasts with full-text transcripts.{% endblock %}


{% block nav_class_read %}
  active
{% endblock %}


{% block content %}

  <h1>Podcasts</h1>

  <table class="table">

    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>

    <tbody>
      {% for podcast in object_list %}
        <tr>
          <td><a href="{% url 'podcasts:detail_slug' pk=podcast.pk slug=podcast.title|slugify %}">{{ podcast.title }}</a></td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

{% endblock %}
